@media screen and (max-width:1165px) {
    .first-section{
        height: 45vh;
    }
    .section{
        max-width: 100%;
    }
    .thumbnail{
        width: 100%;
        margin: 0 30px;
    }
    .sec-left{
        max-width: 100%;
    }
    .navlist li a {
        font-size: 16px;
    }
}
@media screen and (max-width:900px) {
    .section{
        flex-direction: column-reverse;
        margin-top: 100px;
    }
    .sec-left{
        margin-top: 100px;
        flex-direction: column-reverse;

    }
}

@media screen and (max-width:810px) {
    html,body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }
    .rightnav{
        display: none;
    }
    .navlist{
        justify-content: center;
    }
    .first-section{
        height: 60vh;
    }
    .main-box{
        max-width: 100%;
        flex-direction: column;
        margin: 0px 12px;
    }
    .first-half{
        margin-top: 85px;
        max-width: 100%;
    }
    .second-half {
        max-width:30% ;
      }
    .second-half img{
        width: 100%;
      }
      .section {
        margin-top: 176px;
    }
    .sec-left{
          margin-top: 294px;
        margin-bottom: 280px;
      }
      .thumbnail{
        margin: 37px 0;
      }
}
@media screen and (max-width:510px) {
    .first-section{
        height: 65vh;
    }
    .navlist{
        flex-direction: column;
        gap: 35px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .sec-left{
        margin-block: 335px;
    }
    .first-half{
        margin-top: 170px;
    }
    .paras{
        margin-bottom: 33px;
    }
    footer{
        margin-top: 245px;
    }
}
@media screen and (max-width:410px) {
    .thumbnail{
        max-width: 200px;
    }
    .thumbnail img{
        width: 100%;
    }
    .paras h1{
        font-size: 23px;
    }
    .paras p{
        font-size: 17px;
    }
    .sec-left {
        margin-block: 213px;
      }
}


















