*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: indigo ;
}
.night{
    height: 77vh;
    width: 70vw;
    border: 1px solid black;
    margin: 5rem auto;
    background: url('./Img_1.png');
    background-size: cover;
    position: relative;
    box-shadow: 2px 2px 20px rgba(255, 255, 255, 0.686);
    overflow-x: hidden;
}
.surface{
    height: 140px;
    width: 500%;
    background: url('./Img_02.png');
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: moveright 6s linear infinite;
}
.car{
    position: absolute;
    bottom: 7.6%;
    left: 28%;
    animation: suspension 1s linear infinite;
}
.car:hover .surface{
    animation: none;
}


@keyframes moveright {
    100%{
        transform: translateX(-2950px);
    }
}
@keyframes suspension {
    100%{
        transform: translateY(-1px);
    }
    50%{
        transform: translateY(.8px);
    }
    0%{
        transform: translateY(-1px);
    }
}


















