* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html body .note textarea {
    scrollbar-width: none;
}

body {
     background-color: #3c3c3c;
}
.search{
    float: right;
    position: relative;
    top: 45px;
    right:45px;
}
.search input{
    /* width: 50px; */
    padding: 10px 10px 10px 5px;
    outline: none;
    border: none;
    border-radius: 16px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #b3b3b3;
    box-shadow: 1px 1px 20px -9px black;
}
.btn {
    top: 100px;
    left: 113px;
    position: relative;
    display: block;
    margin: auto;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #4b4b4b;
    padding: 40px;
    border-radius: 80px;
    cursor: pointer;
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 1px 1px 20px -9px black;
}

.btn i {
    margin-left: 10px;
}

.main {
    height: 100vh;
    width: 100%;
    background-color: #3c3c3c;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.note {
    position: relative;
    top: 140px;
    width: 400px;
    height: 300px;
    background: white;
    margin: 35px;
    margin-bottom: 67px;
    margin-top: 30px;
    box-shadow: 1px 1px 20px -9px black;
}

.tool {
    position: relative;
    /* left: 100px; */
    width: 100%;
    height: 50px;
    background-color: #5166b7;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

.icon {
    color: black;
}

.tool i {
    padding: 13px;
    cursor: pointer;
}

.note textarea {
    height: 100%;
    width: 103%;
    resize: none;
    font-size: 20px;
    padding: 10px;
    background-color: #b9b9b9;
    border: none;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.note textarea::-webkit-scrollbar {
    display: none;
}

.note textarea:focus {
    border: none;
    outline: none;
}



