html{
    font-size: 62.5%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   font-family:  Roboto, sans-serif, Arial, "sans-serif";
}
.flex{
    display: flex;
    /* align-items: center; */
}
.description{
    height: 2.2rem;
    background: rgb(187, 30, 30);
    text-align: center;
    color: white;
    line-height: 2.2rem;
    font-size: 1.2rem;
    letter-spacing:.1rem;
}
.container{
    /* border: 2px solid black; */
    margin-left: 17rem;
    margin-right: 7.5rem;
    margin-top: 3rem;
    height: 68vh;
    max-width: 86%;
}


/* ---------------------header------------------------- */


.navbar{
    justify-content: space-between;
    height: 7rem;
    align-items: center;
}
.nav-left{
    max-width: 35%;
}
.nav-mid{
    max-width: 40%;
    justify-content: center;
}
.nav-right{
    max-width: 35%;
    transform: translateX(-7rem);
    position: relative;
}
.nav-right .search{
    width:20rem;
    font-size: 1.5rem;
    border-radius: 1.1rem;
    outline: none;
    padding: .6rem;
    padding-right: 6rem;
    background: none;
    border: 1px solid #434242;
    transform: translateX(3rem);
}
.nav-right .icon{
    position: absolute;
    top: 1rem;
    left: 20.5rem;
    transform: scale(1.5);
}


/* -----------main background---------------- */


.bg-section{
    position: relative;
}
.main-bg{
    width: auto;
    height: 53rem;
    background: url('./images/bg_11zon.jpg') center center no-repeat;
    background-size: cover;
}
.buttons{
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    justify-content: center;
    transform: translate(-3rem,-10rem);
}
.btn{
    padding: 1.2rem 4rem;
    margin: .4rem;
    background: white;
    font-size: 2.1rem;
    font-weight: 600;
    pointer-events: none;
}
.btn:hover{
    color:  rgb(187, 30, 30);
}
.btn-small{
    padding: 1rem 1.6rem;
    margin-top: 1.5rem;
    color: white;
    background:  rgb(187, 30, 30);
    font-weight: 600;
}
.btn-small:hover{
    background: white;
    color:  rgb(187, 30, 30);
    border: 1px solid  rgb(187, 30, 30);
}

/* -----------main section */



.main-section{
    margin-top: 3rem;
    justify-content: space-between;
}
.heading-section{
    max-width: 30%;
    height: 10rem;
    margin-top: 18rem;
    text-align: center;
}
.heading-section h1{
    font-size: 3.5rem;
    font-weight: 550;
}
.card-section{
    justify-content: flex-end;
    width: 73%;
    height: 450px;
    gap: 1.2rem;
    overflow: hidden;
}
.card-section img{
    max-width: 300px;
    height: 450px;
}
.title{
    display: flex;
    color: black;
    width: 63.5%;
    justify-content: space-around;
    margin-left: 52rem;
    margin-top: -2.5rem;
    font-weight: bold;
}


/* --------------email-section------------------ */


.email-section{
    height: 23rem;
    width: 100%;
    background: rgba(245, 242, 242, 0.84);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7rem 0 3rem;
}
.email-section-item{
    gap: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.email-section-item h1{
    font-size: 2rem;
    font-weight: 800;
    font-family: "Roboto Condensed", sans-serif;
}
.email-section-item input{
    padding: 1.5rem 30rem;
    padding-left: 5.3rem;
    outline: none;
    border: none;
}
.email-section-item span{
    position: absolute;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    top: 8.9rem;
    left: 38rem;
}



/* ----------contact-section------------------ */



.contact-section{
    height: 28rem;
}
.contact-items{
    display: flex;
    font-size: 1.3rem;
    justify-content: space-around;
}
.contact-items p{
    font-family: "Roboto Condensed", sans-serif;
    padding: 1rem 0;
}

.contact-items .last i{
    padding-right: 1.1rem;
    margin: 1rem 0;
}

/*-------------------footer----------------- */




footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    background: rgb(187, 30, 30);
    color: white;
}

footer p{
    padding: 0 2.7rem;
}
footer p a{
    text-decoration: none;
    color: #7e7edd;;
}


















