* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(0, 0, 33);
    color: #fff;
}
nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
    position: relative;
}
nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #5c32cf;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}
nav ul li a:hover::after{
    width: 100%;
}
.signup{
    position: absolute;
    right: 45px;
    top: 29px;
    padding: 8px 15px;
    background: transparent;
    color: #9d81ea;
    border: 1px solid #9d81ea;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}
.signup:hover{
    background-color: #9d81ea;
    color: #0b102b;
}
.left img {
    width: 200px;
    margin-top: 31px;
}

.container {
    padding: 10px 10%;
}

.first-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 130px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.first-section>div {
    width: 30%;
}

.left-section {
    font-size: 3rem;
}
.left-section .BTN {
    margin: 50px auto;
    border: 1px solid #9d81ea;
    padding: 14px 40px;
    border-radius: 6px;
    background: none;
    color: #9d81ea;
    font-size: 1.03rem;
    cursor: pointer;
    font-weight: bolder;
}
.buttons  .chat{
    border: none;
}
.buttons  .chat{
    border: none;
}
.BTN:hover {
    background: #9d81ea;
    color: #1d2b3a;
}

.right-section img {
    width: 80%;
    margin: 50px 0;
}

.purple {
    color: #9d81ea;
}

#element {
    color: #9d81ea;
}

/* --------ABOUT-------- */

#about {
    padding: 88px 0;
    color: #ababab;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.about-col-1 {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    /* height: 500px; */
    border-radius: 15px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
/* .about-col-1:hover img{
    box-shadow: 0px 1px 10px #5c32cf;
} */
.about-col-2 {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
}

.sub-title {
    color: #f0efef;
    font-size: 60px;
    font-weight: 600;
}

.tab-titles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 48px 0 40px;
}

.tab-links {
    margin-right: 60px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0;
    height: 3px;
    background: #9d81ea;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    margin: 10px 0;
    list-style: none;
}

.tab-contents ul li span {
    color: #b89fff;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* ---------SERVICES--------- */

#services {
    padding: 30px 0;
}

.services-list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list img{
    width: 150px;
}

.services-list div {
    background: #0b102b;
    padding: 40px;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 300;
    -webkit-transition: background .5s, -webkit-transform .5s;
    transition: background .5s, -webkit-transform .5s;
    -o-transition: background .5s, transform .5s;
    transition: background .5s, transform .5s;
    transition: background .5s, transform .5s, -webkit-transform .5s;
}

.services-list div i {
    margin-bottom: 30px;
    font-size: 50px;
}

.services-list div h2 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 500;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #5c32cf;
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
}

/* ----------PROJECTS--------- */


#services2 {
    padding: 30px 0;
}

.services-list2 {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list2 img{
    width: 150px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.services-list2 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #0b102b;
    padding: 40px 40px 15px 40px;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 300;
    -webkit-transition: background .5s;
    -o-transition: background .5s;
    transition: background .5s;
}

.services-list2 div i {
    margin-bottom: 30px;
    font-size: 50px;
}

.services-list2 div h2 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 500;
    position: relative;
}


.services-list2 div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list2 div .icon{
    width: 30px;
    -webkit-filter: invert(100%);
            filter: invert(100%);
}
.services-list2 div .icon{
    width: 30px;
    -webkit-filter: invert(100%);
            filter: invert(100%);
}
.services-list2 div .icon:hover{
    width: 30px;
    height: 30px;
    background-color: #AEBC25;
    border-radius: 50%;
}

/* .circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #9d81ea;
    position: relative;
    bottom: 33px;
} */

/* .services-list2 div .icon::before{
    content: "";
    position: absolute;
    top: 10px;
    background: greenyellow;
    width: 500px;
    height: 500px;
} */


.services-list2 .images:hover img{
    /* width: 200px; */
    -webkit-filter: drop-shadow(0 0 20px #aebaff);
            filter: drop-shadow(0 0 20px #aebaff);
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
}


/* ---------PORTFOLIO--------- */


#portfolio {
    padding: 50px 0;
}

.work-list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.work img {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: 430px;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -o-object-fit: cover;
       object-fit: cover;
}

.layer {
    width: 100%;
    height: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(#5c32cf));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.6), #5c32cf);
    background: linear-gradient(rgba(0, 0, 0, 0.6), #5c32cf);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-size: 14px;
    -webkit-transition: height .5s;
    -o-transition: height .5s;
    transition: height .5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #9d81ea;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}
.chat2{
    margin-left: 12px;
    font-size: 20px;
}
.btn {
    display: block;
    margin: 50px auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: 1px solid #9d81ea;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    background: #9d81ea;
    
}

.btn:hover {
    background: #9d81ea;
    color: #1d2b3a;
}

/* -------------CONTACT------------- */

.contact-left {
    margin-top: 46px;
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
}

.contact-right {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    margin-top: 48px;
}
.contact-right h1{
    text-align: center;
    color: #9d81ea;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    margin-right: 15px;
    color: #9d81ea;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 23px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}

.social-icons a:hover {
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
    color: #9d81ea;
}

.btn.btn2 {
    display: inline-block;
    color: #fff;
    display: block;
    margin: 28px auto;
    color: #9d81ea;
}
.btn.btn2:hover {
    color: #1d2b3a;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #0b102b;;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    resize: none;
}
form {
    position: relative;
}
form a{
    text-decoration: none;
    color: #9d81ea;
    font-size: .8rem;
    margin-left: 30px;
}
form label {
    position: absolute;
    top: 30px;
    left: 16px;
    color: #5e6278;
    font-size: 19px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
form input:focus~label,
form input:valid~label{
    -webkit-transform: translate(0, -26px);
        -ms-transform: translate(0, -26px);
            transform: translate(0, -26px);
    background: rgb(0, 0, 33);
    padding: 3px;
    color: #9d81ea;
    font-size: 12px;
}
form input:focus{
    border: 1px solid #9d81ea;
}
form span{
    position: absolute;
    top: 111px;
    left: 16px;
    color: #5e6278;
    font-size: 19px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
form input[type="email"]:focus~span,
form input[type="email"]:valid~span{
    position: absolute;
    left: 15px;
    top: 111px;
    -webkit-transform: translate(0, -26px);
        -ms-transform: translate(0, -26px);
            transform: translate(0, -26px);
    background: rgb(0, 0, 33);
    padding: 3px;
    color: #9d81ea;
    font-size: 12px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
form textarea::-webkit-input-placeholder{
    color:#5e6278;
}
form textarea::-moz-placeholder{
    color:#5e6278;
}
form textarea:-ms-input-placeholder{
    color:#5e6278;
}
form textarea::-ms-input-placeholder{
    color:#5e6278;
}
form textarea::placeholder{
    color:#5e6278;
}
form textarea:focus{
    border: 1px solid #9d81ea;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    
}
form .btn2:hover {
    color: #1d2b3a;
    
}

form .btn3 {
    background: none;
}
.copyright {
    width: 100%;
    padding: 25px 0;
    text-align: center;
    font-weight: 300;
    margin-top: 20px;
    border-top-left-radius:15px ;
    border-top-right-radius: 15px;
    background: #0b102b;
    -webkit-box-shadow: 8px 8px 15px black;
            box-shadow: 8px 8px 15px black;
}

#msg {
    margin-top: -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #9d81ea;
    text-align: center;
}