@media screen and (max-width:950px) {
    .container {
        font-size: 21px;
    }

    .span {
        height: 5%;
    }
}

@media screen and (max-width:500px) {

    .container,
    .span {
        width: 95%;
    }
    .container{
        font-size: 15px;
        padding: 2% 15px 0px 15px;
    }
    .span svg{
        width: 17px;
        height: 17px;
    }
    #narrator{
        font-size: 18px;
    }
    .text{
        height: 11%;
    }
    footer{
        font-size: 12px;
    }
    .text h1:first-child {
        font-size: 28px;
    }
}