* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(7, 0, 38);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow: hidden;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 26%;
    gap: 10px;
}

.text h1:first-child {
    position: absolute;
    top: 31px;
    color: #50ff00;
}

.text h2 {
    color: #494ced;
}

.skiptranslate {
    display: none;
}

.container {
    width: 80%;
    margin-top: 20px;
    max-height: 80%;
    background-color: #494ced1f;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    font-size: 25px;
    overflow-y: scroll;
    padding: 3% 40px 0px 40px;
    border-bottom: 1px solid #494ced00;
    color: white;
    font-weight: 500;
    scrollbar-color: transparent transparent;
    position: relative;
    text-align: center;
}

.span {
    width: 80%;
    height: 7%;
    background-color: #494ced1f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    gap: 30px;
    padding-left: 40px;
    align-items: center;
}

.span span {
    cursor: pointer;
}

.container p {
    padding: 10px;
}

/* Webkit (Chrome, Safari) */
.container::-webkit-scrollbar {
    width: 6px;
}

.container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* Edge and IE */
.container {
    -ms-overflow-style: none;
}

.container::-ms-scrollbar-thumb {
    background-color: transparent;
}

.pTag {
    font-size: 13px;
    color: #dadada;
    font-weight: bolder;
}

.btn {
    padding: 10px 20px;
    background: none;
    color: white;
    border-radius: 7px;
    margin-top: 30px;
    cursor: pointer;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .5s;
    border: 2px solid #494ced5c;
    margin-left: 20px;
}

.btn:hover {
    border: 2px solid transparent;
    background-color: #494ced5c;
    border-radius: 30px;
}

footer {
    position: fixed;
    bottom: 15px;
}
footer p a{
    text-decoration: none;
    color: #494ced;
    font-weight: bold;
}