*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:rgb(36, 36, 36);
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background-color: #28292d;
    border-radius: 8px;
    overflow: hidden;
}
.box::before{
    content: "";
    position: absolute;
    width: 380px;
    height: 420px;
    transform-origin:bottom right;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    top: -50%;
    left: -50%;
    animation: animate 6s linear infinite;
}
.box::after{
    content: "";
    position: absolute;
    width: 380px;
    height: 420px;
    transform-origin:bottom right;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    top: -50%;
    left: -50%;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.form{

    position: absolute;
    background-color: #28292d;
    inset: 2px;
    border-radius: 8px;
    z-index: 10;
}
.form h2{
    margin-top: 23px;
    color: #45f3ff;
    padding: 30px 40px;
    text-align: center;
}
.form .inputbox{
    position: relative;
    margin: 40px auto;
    width: 320px;
}
.form .inputbox input{
    padding: 7px;
    width: 320px;
    outline: none;
    background: none;
    border:none;
    border-bottom: 2px solid #565658;
}
.form .inputbox span{
    position: absolute;
    top: 7px;
    left: 8px;
    transition: all .5s;
    color:#565658;
}
.form .inputbox input:focus,
.form .inputbox input:valid{
    transition: all .5s;
    background: #45f3ff;
}
.form .inputbox input:focus~span,
.form .inputbox input:valid~span{
    top: -26px;
}
.links{
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 34px;
    margin: -26px auto;
}
.form .links a{
    text-decoration: none;
    color:#565658;
}
.form .links a:hover{
    color: #45f3ff;
}
.btn{
    width: 320px;
    display: block;
    margin: 44px auto;
    padding: 8px;
    color: #45f3ff;
    background: none;
    border: 2px solid #565658;
    border-radius: 4px;
}
.btn:hover{
    color: #565658;
    background: #45f3ff;
}


@media screen  and (max-width:600px){
    .box{
        width: 317px;
        height: 406px;
    }
    .form h2 {
        font-size: 18px;
      }
      .form .inputbox input{
        margin-left: 12px;
        width: 294px;
      }
      .form .inputbox span {
        font-size: 14px;
        left: 27px;
      }
      .links{
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         margin: -26px auto;
      }
      .form .links a {
        font-size: 12px;
        margin-left: 12px;
      }
      .form .links a:nth-child(2) {
        font-size: 12px;
        margin-right: 12px;
      }
      .links {
        width: 317px;
        
      }
      .btn{
        width: 252px;
      }
}




















