* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    color: white;
    background: rgba(0, 0, 33);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    margin: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 50px;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px 0;
    /* border: 1px solid #9d81ea; */
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    flex-direction: column;
    border-radius: 10px;
    background-color: #0b102b;
}

.box:hover {
    background: #5c32cf;
}

.box h2 {
    margin: 52px;
}

.buttons {
    display: flex;
    gap: 8px;
    margin: 24px;
}

.box .buttons .btn {
    color: white;
    padding: 10px 15px;
    border: 1px solid #9d81ea;
    background: none;
    border-radius: 5px;
    cursor: pointer;
}
.box .buttons .btn:hover{
    background: #0b102b;
    border: #5c32cf;
    color: #9d81ea;
}




/*      ---------Responsiveness--------- */





@media screen and (max-width:700px) {
    #lottie2{
        margin: auto;
        width: 50% !important;
    }
}
@media screen and (max-width:600px) {
    .box{
        width: 150px;
    }
    .box h2{
        margin: 42px;
        font-size: 16px;
    }
    .box .buttons {
        margin: 0 0 18px 0;
    }
    .box .buttons .btn {
        padding: 7px 9px;
    }
}
@media screen and (max-width:400px) {
    .container{
        margin: 20px 0;
    }
}