* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(183, 183, 183);
}
nav {
    height: 72px;
    width: 100vw;
    background: rgb(62, 62, 62);
    line-height: 72px;
    text-transform: uppercase;
}

nav .menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav .menu li {
    list-style: none;
    font-weight: 800;
    position: relative;
    cursor: pointer;
}

nav .menu li a {
    text-decoration: none;
    color: antiquewhite;
}

nav .menu li a:hover {
    color: greenyellow;
}

nav .menu li:hover ul {
    visibility: visible;
    opacity: 1;
}

/* .submenu::before{
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    position: relative;
    top: -22px;
    background: rgb(62, 62, 62);
    transform:rotate(45deg);
} */
.submenu {
    position: absolute;
    top: 100%;
    left: -23px;
    background: rgb(62, 62, 62);
    width: 130px;
    text-align: center;
    line-height: 45px;
    border-radius: 0 0 6px 6px;
    visibility: hidden;
    opacity: 0;
    transition: .3s opacity ease-in-out;
}


.submenu li:hover {
    background: rgb(87, 86, 86);
    border-radius: 0 0 6px 6px;
}